body{
    background-color: rgb(12,183,242);
}
.imagen{
    width: 75px;
    height: 75px;
    border-radius: 50px solid rgb(12,183,242);
}
.link{
    text-decoration: none;
    color:black;
    font-family: cursive;
    font-size: 25px;
}
#link{
    margin-left: 100px;
}
#ul{
    list-style-type: none;
    display: flex;
}
.titulo{
    text-align: center;
    margin: 70px;
    font-size: 45px;
}
.duki{
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
}